/* Got help from https://keithclark.co.uk/articles/pure-css-parallax-websites/ */

.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax > .parallax_section {
    background-color: blue;
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    z-index:-10;
}

.parallax > .parallax_section:nth-child(2n) {
    background-color: red;
}

.parallax > .parallax_section > ._layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

._z-1 {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

._z0 {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 0;
}

._z1 {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: -1;
}

._z2 {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: -2;
}

.parallax {
    font-size: 200%;
}

/* centre the content in the parallax layers */
.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid black;
    background: white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}