:root {
    --content-max-width: 1000px; 
}



body, html {
    min-width:400px;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: gray;
    /*font-family: 'Roboto', sans-serif;*/
    font: 100% / 1.5 Roboto;
}


h1 {
    font-size:2em;
    margin:0;
}
section {
    width:100%;
    background-color: white;
    background-size: 100% 100%;
    padding-bottom: 50px;
    min-height:20px;
}




.content {
    font: 70% / 1.5 Roboto;
    font-weight: normal;
    /*box-shadow: 2px 2px 4px #000000;*/
    padding: 5px;
    padding-top: 20px;
    max-width: var(--content-max-width);
    min-width: 370px;
    margin:auto;
}




#profile {
    flex-direction: row-reverse;
    color:white;
}

#profile-pic {
    max-width:250px;
    margin-top:-30px;
}



.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container .item {
    flex-grow: 1;
    flex-basis: 200px; /*min width of div before it breaks to the next row*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    box-shadow: 2px 2px 8px #000000;
    align-items: center;
    margin:7px;
    padding:10px;
}

.flex-container .item.simple{
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/* centre the content in the parallax layers */
.parallax .title {
    font: 140% / 1.5 Roboto;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    padding:10px 26px 10px 26px;
    border: 1px solid white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.paragraph {
    max-width: var(--content-max-width);
    font: 70% / 1.5 Roboto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-table;
    left: 50%;
    top: 50%;
    position: relative;
    vertical-align: middle;
}

.title_image_wrapper {
    display:block;
    box-sizing: border-box;
    height:100%;
    padding: 40px;
    display:flex;
    align-items:center;
}


