body, html {
    overflow: hidden;
}

body {
    margin: 0;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    /*font: 100% / 1.5 Roboto;*/
}


h1 {
    font-size:2em;
    margin:0;
}
section {
    width:100%;
    background-color: white;
    background-size: 100% 100%;
    padding-bottom: 50px;
    min-height:20px;
}




.content {
    font: 70% / 1.5 Roboto;
    font-weight: normal;
    /*box-shadow: 2px 2px 4px #000000;*/
    padding: 5px;
    padding-top: 20px;
    max-width: 1000px;
    min-width: 400px;
    margin:auto;
}




.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#profile {
    flex-direction: row-reverse;
    color:white;
}

#profile-pic {
    max-width:250px;
    margin-top:-30px;
}


.flex-container .item {
    flex-grow: 1;
    flex-basis: 200px; /*min width of div before it breaks to the next row*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    box-shadow: 2px 2px 8px #000000;



    align-items: left;
    margin:7px;
    padding:10px;
}

.flex-container .item.simple{
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


