
.stayLocation a:link{
  text-decoration: none;
  color:black;
}

.stayLocation a:visited{
  color:black;
}

.stayLocation a:hover{
  background-color:#BDD7EE;
}
.stayLocation a:active{
  color:black;
}







.cell {
  padding-top:1px;
	padding-right:1px;
	padding-left:1px;
  color:black;
	font-family:\5FAE\8F6F\96C5\9ED1;
  font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;

}

.stayLocation {
  width: 59pt;
  border: .5pt solid black;
  border-right: none;
}




.tableheader {
	text-align: center;
  vertical-align: middle;
  border-top: .5pt solid black;
  border-right: .5pt solid black;
  border-bottom: .5pt solid black;
  border-left: .5pt solid black;
  background: #BDD7EE;
  white-space: nowrap;
}

.realLocation {
  border-top:.5pt solid black;
  border-right:.5pt solid black;
  border-bottom:.5pt solid black;
  border-left:none;
}

.realLocation.noborder {
  border-top:none;
  border-right:.5pt solid black;
  border-bottom:none;
  border-left:none;
}

.dateTime {
  border: .5pt solid black;
  font-weight: 700;
  font-size:10.0pt;
	white-space:normal;
}


.goal {
  border: .5pt solid black;
  height: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}


.details {
  position: relative;
  border: .5pt solid black;
  padding-left: 4pt;
  padding-right: 4pt;
  white-space: normal;
  text-align: left;
}



.timeTag {
  transform: translateY(-50%) translateX(-88%);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: left;
  width: 120px;
  height: 30px;
  background: #BDD7EE;
  border-radius: 10px;

  padding-left: 12px;
    margin-top: -15px; /* justify the padding of the td cell*/
}
.timeTag:after {
  content: "";
  position: absolute;
  left: 95%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #BDD7EE;
  border-bottom: 10px solid transparent;
 }
